{% entends 'base.html' %}

{% block title %}PDCA 詳細{% endblock title %}

{% block content %}
<body>
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item">{{ object.title }}</li>
      <li class="list-group-item">{{ object.Category }}</li>
      <li class="list-group-item">{{ object.description }}/li>
      <li class="list-group-item">{{ object.Plan }}</li>
      <li class="list-group-item">{{ object.Do }}</li>
      <li class="list-group-item">{{ object.Check }}</li>
      <li class="list-group-item">{{ object.Action }}</li>
    </ul>
  </div>
{% endblock content %}